/* src/css/App.css */

.App {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  width: 33.33333%;
  padding: 1.25rem;
}

/*
  Justifying the whole application at center
  and setting it width to 1/3 of screen size
  and padding to 1.25rem
  and every new item in Application displays on the new row with a gap of 2rem
*/